language: node_js
node_js:
  - "lts/*"
addons:
  ssh_known_hosts: mystories.vn
before_install:
- npm install -g hexo-cli
- openssl aes-256-cbc -K $encrypted_38ebcd8c19a4_key -iv $encrypted_38ebcd8c19a4_iv
  -in deploy_rsa.enc -out deploy_rsa -d
- eval "$(ssh-agent -s)"
- chmod 600 deploy_rsa
- ssh-add deploy_rsa
deploy:
  - provider: script
    skip_cleanup: true
    script: npm install && hexo generate && scp -r $TRAVIS_BUILD_DIR/public/* blog@mystories.vn:/home/blog/web/mystories.vn/bach
    on:
      branch: develop
  - provider: script
    skip_cleanup: true
    script: scp -r $TRAVIS_BUILD_DIR/* blog@mystories.vn:/home/blog/web/mystories.vn/bach
    on:
      branch: master
